:root {
  background: radial-gradient(circle, rgba(213, 213, 213, 1) 37%, rgba(187, 187, 187, 1) 71%); // silver. My favorite
}

h1 {
  text-align: center;
}

.buttonRow {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

form {
  display: flex;
  margin: 10px auto;
  max-width: 300px;
  padding: 10px;
  background-color: gray;
  border: 1px solid #000;
  box-shadow: 0 0 5px #000;

  button {
    width: 170px;
    height: 60px;
  }

  textarea {
    padding: 14px;
    resize: none;
  }
}