* {
    margin: 0;
}

:root {
    background: radial-gradient(circle, rgba(213, 213, 213, 1) 37%, rgba(187, 187, 187, 1) 71%); // silver. My favorite
}

.buttonRow {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

h1 {
    text-align: center;
}

.container {
    width: 350px;
    height: 150px;
    border: 1px solid #000;
    margin: 0 auto;

    display: grid;
    grid-row-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.row {
    // display: flex;
    // float: right;
    // margin-bottom: 200px;
    // align-items: start;
}

.row-two {
    // display: flex;
    // align-items: start;
    // float: left;
}