* {
  margin: 0;
  padding: 0;
}

/* HEADER */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #21222A;
}

.nav-logo {
  width: 25px;
  padding: 25px;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items>li {
  padding-right: 10px;
  text-shadow: 3px 0px 3px rgba(0, 0, 0, 0.2);
}


.react-facts-and-icon {
  display: flex;
  align-items: center;
}

.react-facts {
  font-weight: bold;
  color: #eee;
}

/* HEADER */